<h2>Select a node</h2>

<% if @nodes %>
    <% for node in @nodes %>
        <p><%= link_to node.name, taxonomite_path(node) %> (<%= node.entity_type %>) </p>
    <% end %>
<% else %>
    <p>No nodes defined.</p>
<% end %>
