
<% if @place %>
    <% if @place.errors.any? %>
        <div class="error messages">
            <ul>
                <div id="error_explanation">  
                <% for message in @place.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
                </div>
            </ul>
        </div>
    <% end %>	
<% end %> 